@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}

<section id="showcase">
    <div class="container">
        <h1>Dobrodošli</h1>
        <p>Iskoristi svoje pravo, glasaj! Tvoj glas je važan!</p>
    </div>
</section>
