
@{
    ViewData["Title"] = "View";
}

@{
    Layout = "_Layout";
}


<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>loginForma</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>-->
    <div class="signin">
        @using (Html.BeginForm("Login", "Home"))
        {
            <form method="post">
                <div>
                    <div class="form-group input-form"><input class="form-control" type="text" name="username" placeholder="Korisničko ime"></div>
                    <div class="form-group input-form"><input class="form-control" type="password" name="password" placeholder="Lozinka"></div>
                    <div class="btn-group" role="group">
                        <button class="btn" id="btnSignIn" type="submit">Prijavite se</button>
                    </div>
                    <div class="btn-group" role="group"></div>
                </div>


            </form>
        }
    </div>
    @if (ViewBag.Message != null)
    {
        <h2>
            @ViewBag.Message
        </h2>
    }
    @if (ViewBag.Login != null)
    {
        <h2>
            @ViewBag.Login
        </h2>
    }
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!--</html>-->
