@model E_lections.Models.Osoba

@{
    ViewData["Title"] = "Register";
}

@{
    Layout = "_Layout";
}

        <div class="signin">
            <div class="col-md-4">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <!--<label asp-for="Ime" class="control-label"></label>-->
                        <input asp-for="Ime" class="form-control" placeholder="Ime" />
                        <span asp-validation-for="Ime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Prezime" class="form-control" placeholder="Prezime" />
                        <span asp-validation-for="Prezime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="DatumRodjenja" class="form-control" placeholder="Datum rođenja" />
                        <span asp-validation-for="DatumRodjenja" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="BrojLicneKarte" class="form-control" placeholder="Broj lične karte" />
                        <span asp-validation-for="BrojLicneKarte" class="text-dange"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="JMBG" class="form-control" placeholder="JMBG" />
                        <span asp-validation-for="JMBG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Lozinka" class="form-control" placeholder="Lozinka" />
                        <span asp-validation-for="Lozinka" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Ulica" class="form-control" placeholder="Ulica" />
                        <span asp-validation-for="Ulica" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Kanton" class="form-control" placeholder="Kanton" />
                        <span asp-validation-for="Kanton" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="StrankaId" class="form-control" asp-items="ViewBag.StrankaId"></select>
                    </div>
                    <div class="form-group">
                        <label>
                            @Html.RadioButtonFor(m => m.Spol, Spol.Muski, new { @class = "radio-button" })
                            Muški
                        </label>
                        <label>
                            @Html.RadioButtonFor(m => m.Spol, Spol.Zenski, new { @class = "radio-button" })
                            Ženski
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registruj se" class="btn" />
                    </div>
                </form>
            </div>
        </div>