
@{
    ViewData["Title"] = "SendEmail";
}
    <body>
        <div class="signin">
            @using (Html.BeginForm("SendEmail", "Home"))
            {
            <form method="post">
                <h2 class="whiteLetters">Aktivacija računa</h2>
                <p class="whiteLetters">Unesite kod koji smo vam</p>
                <p class="whiteLetters">poslali na e-mail</p>
                <p class="whiteLetters">kako bi aktivirali svoj račun.</p>
                    <div>
                        <div class="form-group input-form"><input class="form-control" type="text" name="aktivacijskiKod" placeholder="Aktivacijski kod"></div>
                        <div class="btn-group" role="group">
                            <button class="btn" id="btnSignIn" type="submit">Aktiviraj račun</button>
                        </div>
                        <div class="btn-group" role="group"></div>
                    </div>
</form>
            }
        </div>
        <div align ="center">
            @if (ViewBag.Message != null)
            {
                <h2>
                    @ViewBag.Message
                </h2>
            }
            @if (ViewBag.Msg != null)
            {
                <h2>
                    @ViewBag.Msg
                </h2>
            }
        </div>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
