@model E_lections.Models.GlasackiListic

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <input asp-for="MaxOdabir" class="form-control" type="number" placeholder="Broj mogućih opcija" min="1"/>
                <span asp-validation-for="MaxOdabir" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.TextAreaFor(model => model.Opis, new { @class = "form-control" })
                <span asp-validation-for="Opis" class="text-danger"></span>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IzborId" class="form-control" placeholder="ID izbora"/>
                <span asp-validation-for="IzborId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



