@model E_lections.Models.Stranka

@{
    Layout = "_LayoutAdmin";
}

<body>
<hr />
<div class="signin">
    <div class="col-md-4">
        <form asp-action="DodajStranku">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Naziv" class="form-control" placeholder="Naziv" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Napravi stranku" class="btn" />
            </div>
        </form>
    </div>
</div>
</body>

