
@{
    Layout = "_LayoutAdmin";
}

    <body>
        <div class="signin">
            <div>
                <ul class="list">
                    <li>
                        <a class="link" asp-area="" asp-controller="Admin" asp-action="KreirajIzbore">Kreiraj izbore</a>
                    </li>
                    <li>
                        <a class="link" asp-area="" asp-controller="Admin" asp-action="Lista">Lista prijavljenih korisnika</a>
                    </li>
                    <li>
                        <a class="link" asp-area="" asp-controller="Admin" asp-action="Izbori">Lista kreiranih izbora</a>
                    </li>
                    <li>
                        <a class="link" asp-area="" asp-controller="Admin" asp-action="Rezultati">Rezultati</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
