
@{
    Layout = "_LayoutAdmin";
}

    <body>
        <div class="signin">
            <div>
                <ul class="list">
                    <li>
                        <a class="link" asp-area="" asp-controller="Admin" asp-action="Lista">Lista prijavljenih korisnika</a>
                    </li>
                    <li>
                        <a class="link" asp-area="" asp-controller="Izbor" asp-action="Index">Lista kreiranih izbora</a>
                    </li>
                    <li>
                        <a class="link" asp-area="" asp-controller="Admin" asp-action="Rezultati">Rezultati</a>
                    </li>
                    <li>
                        <a class="link" asp-action="DodajStranku" asp-controller="Admin" asp-area="">Dodaj Stranku</a>
                    </li>
                    <li>
                        <a class="link" asp-action="Stranka" asp-controller="Admin" asp-area="">Sve Stranke</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
