@model IEnumerable<E_lections.Models.GlasackiListic>

@{
    Layout = "~/Views/Shared/_LayoutIzbori.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                Broj kandidata
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @item.Kandidati.Count()
            <td>
                <a asp-action="DetaljiKandidata" asp-route-id="@item.ID">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
