@model E_lections.Models.GlasackiListic

@{
    Layout = "~/Views/Shared/_LayoutGlasac.cshtml";
}

    <div class="signin">
        @using (Html.BeginForm("Glasaj", "Glasac"))
        {
            <form method="post" class="whiteLetters">
                @foreach (var item in Model.Kandidati)
                {
                    @item.Ime @item.Prezime
                    <input type="checkbox" name="glasovi" value="@item.ID" />
                    <br />
                }
                <input type="submit" class="btn" value="Glasaj" />
            </form>
        }
</div>

