@model E_lections.Models.GlasackiListic

@{
    Layout = "~/Views/Shared/_LayoutGlasac.cshtml";
}

<div class="signin">
    @using (Html.BeginForm("Glasaj", "Glasac"))
    {
        <form method="post">
            @foreach (var item in Model.Kandidati)
            {
            <div class="whiteLettersAndCenter">
                @item.Ime @item.Prezime
                <input type="checkbox" name="glasovi" value="@item.ID" />
                <br />
            </div>
            }
            <input type="submit" class="btn" value="Glasaj" />
        </form>
    }
</div>


