@model IEnumerable<E_lections.Models.Kandidat>

@{
    Layout = "~/Views/Shared/_LayoutGlasac.cshtml";
}


@foreach (var item in Model)
{
    <input type="checkbox" id="@item.ID" name="glasovi" value="@item.ID" />
    <label for="optionId">@item.Ime @item.Prezime</label>
    <hr />
}

@using (Html.BeginForm("Glasaj", "Glasac", FormMethod.Post))
{
    <input type="submit" value="Glasaj" />
}