@model E_lections.Models.Profil

@{
    Layout = "~/Views/Shared/_LayoutGlasac.cshtml";
}


<div class="signin">
    <textarea  rows="10" cols="33" readonly="readonly" >
            @Model.Opis
    </textarea>
</div>

