@model E_lections.Models.GlasackiListic

@{
    Layout = "~/Views/Shared/_LayoutKandidat.cshtml";
}


@using (Html.BeginForm("Glasaj", "Kandidat"))
{
    <form method="post">
        @foreach (var item in Model.Kandidati)
        {
            @item.Ime @item.Prezime
            <input type="checkbox" name="glasovi" value="@item.ID" />
            <br />
        }
        <input type="submit" value="Glasaj" />
    </form>
}
