@model E_lections.Models.Kandidat

@{
    Layout = "~/Views/Shared/_LayoutKandidat.cshtml";
}



    <body>
        <div class="signin">
            <div>
                <ul class="list">
                    <li>
                        <a class="link" asp-action="Stranka" asp-controller="Glasac" asp-area="">Učlani se u stranku</a>
                    </li>
                    <li>
                        <a class="link" asp-action="NapustiStranku" asp-controller="Glasac" asp-area="">Napusti stranku</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr />
        @if (ViewBag.Message != null)
        {
            <h2>
                @ViewBag.Message
            </h2>
        }
    </body>

