@model  E_lections.Models.Profil

@{
    Layout = "~/Views/Shared/_LayoutKandidat.cshtml";
}

    <div class="signin">
        @using (Html.BeginForm("Profil", "Kandidat"))
        {
            <form method="post">
                <div>
                    <div>
                        <textarea class="form-control" name="profil" required="required" cols="20" rows="10" placeholder="Unesite tekst koji će glasači moći vidjeti">
                @if(Model.Opis != null)
                {
                    @Model.Opis
                }
                </textarea>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn" id="btnSignIn" type="submit">Uredi profil</button>
                    </div>
                    <div class="btn-group" role="group"></div>
                </div>
            </form>
        }</div>


