@model E_lections.Models.Izbor

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <body>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>
                            Pozicija za koju se glasa
                        </th>
                        <th>
                            Broj opcija
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GlasackiListici)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Opis)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxOdabir)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </body>

