
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@if(ViewBag.id == null)
{
    <h1>NULL</h1>
}
else
{
    <h1>@ViewBag.id</h1>
}

<ul>
    <li>
        <a asp-action="Detalji" asp-controller="Izbor" asp-area="" class="link">Prikaz glasačkih listića</a>
    </li>
    <li>
        <a asp-action="Kreiraj" asp-controller="Izbor" asp-area="" class="link">Dodaj novi glasački listić</a>
    </li>
</ul>

