
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<ul>
    <li>
        <a asp-action="Detalji" asp-controller="Izbor" asp-area="" class="link">Prikaz glasačkih listića</a>
    </li>
    <li>
        <a asp-action="Kreiraj" asp-controller="Izbor" asp-area="" class="link">Dodaj novi glasački listić</a>
    </li>
</ul>

